<footer class="footer">
  <div class="b-container">
    <div class="row g-4 g-xl-5 mt-0 mx-auto ptpb-120">

      <div class="col-12 col-md-6 col-xl-3 mt-0 px-auto px-xl-0">
        <div class="footer-logo-box">
          <img src="~/lib/autozen/images/car-shop-logo-V49ANM.png" alt="Footer Logo" class="h-100 object-fit-contain d-block">
        </div>
        <p class="mt-4 text-center text-md-start">Chúng tôi chuyên cung cấp các sản phẩm bida chất lượng cao, từ cơ bida, bàn bida đến các phụ kiện chuyên nghiệp.</p>
        <div class="d-flex gap-2 justify-content-center justify-content-md-start">
          <a href="https://www.facebook.com/letrandangphong" target="_blank" rel="noopener noreferrer"><i class="bi bi-facebook icon-social"></i></a>
          <a href="https://www.instagram.com/dphong.170604/ "target="_blank" rel="noopener noreferrer"> <i class="bi bi-instagram icon-social"></i></a>
          <a href="https://www.tiktok.com/@@dangphong1706" target="_blank" rel="noopener noreferrer"><i class="bi bi-tiktok icon-social"></i></a>
          <a href="https://www.youtube.com/channel/UCxghzJtWc4zo03Mhh21AsHA" target="_blank" rel="noopener noreferrer"><i class="bi bi-youtube icon-social"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-6 col-xl-2 mt-5 mt-xl-0">
        <h4 class="text-center text-md-start">Liên kết nhanh</h4>
        <hr class="border-1 max-w-170 text-primary-color opacity-100 mx-auto mx-md-0">
        <ul class="p-0 m-0 d-flex flex-column align-items-center align-items-md-start">
          <li class="d-flex align-items-center list-unstyled mb-2">
            <a href="@Url.Action("Index", "Home")"><i class="bi bi-check-circle text-primary-color fs-5 me-2"></i>
              Trang chủ</a>
          </li>
          <li class="d-flex align-items-center list-unstyled mb-2">
            <a href="@Url.Action("Index", "Product")"><i class="bi bi-check-circle text-primary-color fs-5 me-2"></i>
              Sản phẩm</a>
          </li>
          <li class="d-flex align-items-center list-unstyled mb-2">
            <a href="#"><i class="bi bi-check-circle text-primary-color fs-5 me-2"></i>
              Về chúng tôi</a>
          </li>
          <li class="d-flex align-items-center list-unstyled mb-2">
            <a href="#"><i class="bi bi-check-circle text-primary-color fs-5 me-2"></i>
              Liên hệ</a>
          </li>
        </ul>
      </div>

      <div class="col-12 col-md-6 col-xl-3 mt-5 mt-xl-0 pe-0">
        <h4 class="text-center text-md-start">Hỗ trợ khách hàng</h4>
        <div class="w-100">
          <hr class="border-1 max-w-170 text-primary-color opacity-100 mx-auto mx-md-0">
        </div>
        <ul class="p-0 m-0 d-flex flex-column align-items-center align-items-md-start">
          <li class="d-flex align-items-center list-unstyled mb-2">
            <a href="#"><i class="bi bi-check-circle text-primary-color fs-5 me-2"></i>
              Hướng dẫn mua hàng</a>
          </li>
          <li class="d-flex align-items-center list-unstyled mb-2">
            <a href="#"><i class="bi bi-check-circle text-primary-color fs-5 me-2"></i>
              Chính sách vận chuyển</a>
          </li>
          <li class="d-flex align-items-center list-unstyled mb-2">
            <a href="#"><i class="bi bi-check-circle text-primary-color fs-5 me-2"></i>
              Chính sách bảo hành cơ gậy phụ kiện</a>
          </li>
          <li class="d-flex align-items-center list-unstyled mb-2">
            <a href="#"><i class="bi bi-check-circle text-primary-color fs-5 me-2"></i>
              Chính sách bảo hành bàn Billiard</a>
          </li>
          <li class="d-flex align-items-center list-unstyled mb-2">
            <a href="#"><i class="bi bi-check-circle text-primary-color fs-5 me-2"></i>
              Phương thức thanh toán</a>
          </li>
        </ul>
      </div>

      <div class="col-12 col-md-6 col-xl-4 mt-5 mt-xl-0 ps-0">
        <h4 class="text-center text-md-start">CONTACT INFO</h4>
        <hr class="border-1 max-w-170 text-primary-color opacity-100 mx-auto mx-md-0">
        <div class="d-flex mb-4 flex-column flex-md-row align-items-center align-items-md-start">
          <a href="#" class="icon-contact me-0 me-md-3"><i class="bi bi-telephone fs-3"></i></a>
          <div class="d-flex flex-column text-center text-md-start">
            <p class="text-small text-color-3 mb-1">PHONE NUMBER</p>
            <h5 class="mb-0">0799.277.167</h5>
          </div>
        </div>
        <div class="d-flex mb-4 flex-column flex-md-row align-items-center align-items-md-start">
          <a href="#" class="icon-contact me-0 me-md-3"><i class="bi bi-envelope fs-3"></i></a>
          <div class="d-flex flex-column text-center text-md-start">
            <p class="text-small text-color-3 mb-1">EMAIL ADDRESS</p>
            <h5 class="mb-0">letrandangphong@gmail.com</h5>
          </div>
        </div>
        <div class="d-flex flex-column flex-md-row align-items-center align-items-md-start">
          <a href="#" class="icon-contact me-0 me-md-3"><i class="bi bi-geo-alt fs-3"></i></i></a>
          <div class="d-flex flex-column text-center text-md-start">
            <p class="text-small text-color-3 mb-1">SHOP ADDRESS</p>
            <h5 class="mb-0">Số 236 Hoàng Quốc Việt, Phường Nghĩa Đô, Thành phố Hà Nội</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="border-top-color">
    <div class="b-container border-start border-end border-1 border-primary-color p-3">
      <div class="d-flex flex-row flex-wrap justify-content-center justify-content-md-between">
        <p class="text-color-3 m-0">© 2025 Billiard Shop. All Rights Reserved.</p>
        <ul class="m-0 p-0 d-flex gap-3 footer-terms">
          <li class="list-unstyled"><a href="#"
              class="text-color-3 border-end border-1 border-primary-color pe-3">Terms & Conditions</a></li>
          <li class="list-unstyled"><a href="#" class="text-color-3">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>